PORT=3000

# mysql credentials
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=job_portal_db

# mongodb uri
MONGODB_URI="mongodb://localhost:27017/job_portal_db"

# JWT secret
ACCESS_TOKEN_SECRET='access token secret'
REFRESH_TOKEN_SECRET='refresh token secret'